tickTime=2000
dataDir=/var/zookeeper
dataLogDir=/var/log/zookeeper
clientPort=2181
initLimit=5
syncLimit=2
{% for server in host_list %}
server.{{ loop.index0 }}={{ hostvars[server]['ansible_facts']['hostname'] }}:2888:3888
{% endfor %}